<div id = "index">
<form  action="/weather" method = "post">
  <div id= "text">
	<h1> "Weather App Extrardinaire!  </h1>
		Enter your location: 
		<input type="text" name = "post[location]" />
	<input type="submit" value= "Search" />
</form>
</div>
</div>