<!DOCTYPE html>
<html>
	<head>
		<meta charst="utf-8">
		<link href="<%= url("/style.css")%>" rel="stylesheet" type="text/css" >
		<title>Weather App </title>
	</head>
	<body>	
		 <h1> "Weather App Extrardinaire!" </h1>
		<%= yield %>
	</body>
</html>

