body{ font-weight: bold;
	color: navy;
	font-family: sans-serif;
	text-align: center;
	
	}
#text {padding-top: 205px;}


#cloudy {
height: 645px;
width: 1175px;
border: navy solid 20px;
background-image: url(cloudy.png);
}

#index { 
height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(map.png);}

#rainy { height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(rainy.png);
background-repeat: no-repeat;
border: navy solid 20px;
}

#snowy { 
height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(snowy.png);}

#sunny {height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(sunny.png);}

#foggy {height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(foggy.png);}

#otherweather {height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(weathermash.png);}
