body{ font-weight: bold;
	color: navy;
	font-family: sans-serif;
	text-align: center;
	
	}
#text {padding-top: 250px;}


#cloudy {
height: 645px;
width: 1175px;
border: navy solid 20px;
background-image: url(cloudy.png);
}

#index { 
height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(map.png);}

#rainy { height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(rainy.png);}

#snowy { 
height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(snowy.png);}

#sunny {height: 645px;
width: 1175px;
border: navy solid 20px;
background: url(sunny.png);}

#foggy {height: 645px;
width: 1175px;
border: navy solid 20px;
background: silver;}

#otherweather {height: 645px;
width: 1175px;
border: navy solid 20px;
background: pink;}
